<h1>Create a Message</h1>
<p>This message is anonymous</p>

<form action="/messages" method="POST">
  Message : <input name="message" type="text" /> <br/>
  <input type="submit" value="Submit" />
</form>
