<h1>Login</h1>

<form action="/login" method="POST">
  <p><%= @error.to_s %><p>
  username : <input name="username" type="text" /> <br/>
  password : <input name="password" type="text" /> <br/>
  <input type="submit" value="Submit" />
</form>
