<h1>Signup</h1>

<form action="/users" method="POST">
  username : <input name="username" type="text" /> <br/>
  password : <input name="password" type="text" /> <br/>
  <input type="submit" value="Submit" />
</form>
